h1, p {
    font-family: Lato;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: white;
    user-select: none;
  }
  .menu-bar,.navBarLabel{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-20%, -50%);
  }
  #check:checked ~ .navBarLabel{
    left: 89.5%;
    transform: translateY(-63%);
  }
  .menu-bar .navBarLabel{
    z-index: 1;
    transition: .35s ease-in;
  }
  .menu-bar .navBarLabel #button{
    display: flex;
    height: 61px;
    width: 65px;
    background: #097adc;
    border-radius: 5px;
    cursor: pointer;
  }
  .navBarLabel #button i{
    margin: auto;
    font-size: 35px;
    color: #f5f5f5;
    transform: rotateZ(0turn);
    transition: transform .2s linear
  }
  #check:checked ~ .navBarLabel #button i{
    transform: rotateZ(0.5turn);
  }
  #check:checked ~ .navBarLabel #button i:before{
    content: '\f00d';
  }
  .menu-bar .menu-items{
    background: #f5f5f5;
    padding: 0 60px 0 0;
    box-shadow: 0 0 5px #075fab;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .35s ease-in;
  }
  #check:checked ~ .menu-items{
    transform: scaleX(1);
  }
  .menu-items ul{
    list-style: none;
    display: flex;
    padding: 20px 5px;
  }
  .menu-items ul li a{
    color: #0a87f5;
    font-size: 14px;
    margin: 0 5px;
    padding: 10px 12px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    text-decoration: none;
  }
  .menu-items ul li a:hover{
    box-shadow: inset 0 0 5px #0a87f5,
                inset 0 0 15px #85c3fa,
                inset 0 0 25px #b6dbfc;
  }
  #check{
    display: none;
  }
  