@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
body {
  background: #2d4b7a;
}
.logo {
  position: relative;
  width: 200px;
  color: #2d4b7a;
  margin: 40px 450px;
  height: 200px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.dalrada {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 2px;
}
.financial {
  font-size: 50px;
  font-family: "Metrophobic", sans-serif;
  font-weight: bold;
  letter-spacing: 9px;
}
.logo:hover {
  background: #03e9f4;
  padding: 10px 75px;
  color: #fff;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}
.logo span {
  position: absolute;
  display: block;
}
.logo span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 40px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
  animation-delay: 0s;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.logo span:nth-child(2) {
  right: 0;
  top: -100%;
  width: 40px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
.logo span:nth-child(3) {
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 40px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0s;
}
@keyframes animate3 {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
.logo span:nth-child(4) {
  left: 0;
  top: 100%;
  width: 40px;
  height: 40%;
  background: linear-gradient(0deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate4 {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}
