.reconcile-table td {
  -webkit-user-select: text; /* Safari */
  -ms-user-select: text; /* IE 10+ and Edge */
  user-select: text; /* Standard syntax */
}
.reconcile-table table.dataTable td:nth-child(2) {
  display: none;
}

.reconcile-table table.dataTable th:nth-child(3) {
  display: none;
}
