@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
body,
html {
  height: 100%;
}
.bg {
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/p2swebsite/images/smeKhabar/news/ToBoostExports,CommerceMinistryReleasedtheDraftofComprehensiveExportPolicy_1559108399596_477.jpg");
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.brandname {
  width: 370px;
  justify-content: center;
  margin-left: 470px;
  border-radius: 5%;
}

.brandname .dalrada {
  font-size: 60px;
  font-weight: bold;
  color: #ffff;
  letter-spacing: 2px;
}
.brandname .financial {
  font-size: 30px;
  font-family: "Metrophobic", sans-serif;
  color: #ff105e;
  font-weight: bold;
  letter-spacing: 9px;
}
